*.nii.gz 
*.nrrd 
*.pkl 
*.png 
*.jpeg
__pycache__

data_for_analysis
report
common-processed/anatomical
common-processed/modules
common-processed/logs
scripts/.svncommon-processed/00_Cache.txt
common-processed/PipelineResults.txt
common-processed/oldcaceh.txt
scripts/.svn/
common-processed/00_Cache.txt
